/****** Main Styling ******/

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #222;
  background-color: #fafafa;
  line-height: 1.4em;
  min-height: 100vh;
}

main {
  padding: 40px 0;
}

main .logo {
  max-height: 50px;
  margin-right: 20px;
}

hr {
  margin: 25px;
}

h3 {
  margin-top: 30px;
}

h5 {
  margin-top: 20px;
}

a {
  color: #2574a9;
}

form {
  margin: 0 10px 25px 10px;
  padding: 15px;
  color: #fff;
  background-color: #333;
  width: 300px;
  height: 100%;
  border-radius: 5px;
}

input {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 3px;
  font-size: 16px;
}

.btn-primary {
  background-color: #3da7f5;
  border: none;
}

code {
  font-family: monospace;
  font-size: 1em;
  padding: 2px;
  color: black;
  background-color: #fff;
}

code.block {
  display: block;
  margin-bottom: 20px;
}

code ul.indent {
  padding-left: 20px;
  list-style-type: none;
  margin-bottom: 0;
}

p.note {
  text-align: center;
}

.footer {
  margin-top: 40px;
}

/****** NavBar Styles ******/

.navbar.navbar-dark {
  background-color: #333;
}

.navbar .nav-link {
  color: rgba(255, 255, 255, 0.8);
}

.navbar .nav-link:hover {
  color: rgba(255, 255, 255, 1);
}
